<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\Src\HappyImmigrant\HappyImmigrant.Mobile\HappyImmigrant.Mobile.Droid\packages.config" />
  <repository path="..\Src\HappyImmigrant\HappyImmigrant.Mobile\HappyImmigrant.Mobile.iOS\packages.config" />
  <repository path="..\Src\HappyImmigrant\HappyImmigrant.Mobile\HappyImmigrant.Mobile.WinPhone\packages.config" />
  <repository path="..\Src\HappyImmigrant\HappyImmigrant.Mobile\HappyImmigrant.Mobile\packages.config" />
  <repository path="..\Src\Immigration\Mobile\Mobile.Droid\packages.config" />
  <repository path="..\Src\Immigration\Mobile\Mobile.iOS\packages.config" />
  <repository path="..\Src\Immigration\Mobile\Mobile.WinPhone\packages.config" />
  <repository path="..\Src\Immigration\Mobile\Mobile\packages.config" />
</repositories>